flow_demo/flows_hp.json
[{"id":"ec146ae3.249748","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15144f93.e3be3","type":"modbus-client","z":"","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/usb/hiddev0","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"4218358a.07deac","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c14eab3e.92b048","type":"ui_tab","z":"","name":"LEDDAR Monitor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f0e58428.884ae8","type":"ui_group","z":"","name":"Leddar Crudo","tab":"c14eab3e.92b048","order":2,"disp":true,"width":"6","collapse":false},{"id":"de0ac941.5e6f08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"415925f1.c8f97c","type":"ui_group","z":"","name":"Leddar Filtrado","tab":"c14eab3e.92b048","order":3,"disp":true,"width":"6","collapse":false},{"id":"5a22fbaf.a7dcf4","type":"ui_group","z":"","name":"Filtrado","tab":"c14eab3e.92b048","order":1,"disp":true,"width":"18","collapse":false},{"id":"3b499756.ce4da8","type":"exec","z":"ec146ae3.249748","command":"/home/mariano/.node-red/LeddarSDK/src/release/LeddarExample","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":280,"y":340,"wires":[["9f202145.453c5","4342b493.38976c"],[],[]]},{"id":"b19bce77.d0041","type":"inject","z":"ec146ae3.249748","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["fd873493.9e7ec8"]]},{"id":"4bb22116.8cad3","type":"debug","z":"ec146ae3.249748","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":80,"wires":[]},{"id":"9f202145.453c5","type":"json","z":"ec146ae3.249748","name":"","property":"payload","action":"","pretty":false,"x":710,"y":240,"wires":[["4bb22116.8cad3","8f37ecac.5b2ee","e291dce6.62ebd"]]},{"id":"2639e4d7.9a3dfc","type":"template","z":"ec146ae3.249748","name":"Config","field":"config","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"{\n    \"channels\": [\n        {\"nro\": 0, \"distDesde\": 3, \"distHasta\": 5,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 1, \"distDesde\": 3, \"distHasta\": 5,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 2, \"distDesde\": 3, \"distHasta\": 5,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 3, \"distDesde\": 3, \"distHasta\": 5,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 4, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 5, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 6, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 7, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 8, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 9, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 10, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 11, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 12, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 13, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 14, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true},\n        {\"nro\": 15, \"distDesde\": 0.1, \"distHasta\": 0.2,  \"amplDesde\": 1, \"amplHasta\":500, inside:true, enabled:true}\n\n    ]\n}","output":"json","x":490,"y":40,"wires":[["3b499756.ce4da8","5ecccf5f.d913b"]]},{"id":"1c7f4eed.d0a6e1","type":"ui_template","z":"ec146ae3.249748","group":"415925f1.c8f97c","name":"","order":0,"width":"6","height":"11","format":"Modelo V치lido: \n<img style=\"width:20px;height:auto\" ng-show=\"msg.modeloValido\" src=\"https://www.pngfind.com/pngs/m/9-98307_check-and-x-mark-png-lime-green-check.png\">\n<span ng-show=\"msg.ultimaValidez && msg.modeloValido\">V치lido hace {{msg.ultimaValidez}} segs</span>\n<img style=\"width:20px;height:auto\" ng-hide=\"msg.modeloValido\" src=\"http://www.freepngclipart.com/download/check_mark/24932-check-mark-vector-for-download-about-vector.jpg\">\n\n<hr/>\n<table>\n    <tr>\n        <td>Canal</td>\n        <td>Distancia</td>\n        <td>Amplitud</td>\n    </tr>\n    <tr ng-repeat=\"d in msg.payload\">\n        <td>{{d.canal}}</td>\n        <td>{{d.distancia}}</td>\n        <td>{{d.amplitud}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1340,"y":360,"wires":[[]]},{"id":"4342b493.38976c","type":"mqtt out","z":"ec146ae3.249748","name":"","topic":"pulpo","qos":"","retain":"","broker":"de0ac941.5e6f08","x":1000,"y":520,"wires":[]},{"id":"8f37ecac.5b2ee","type":"function","z":"ec146ae3.249748","name":"Filter & Check","func":"var cfg=flow.get('config');\nvar valid=function(v) {\n    var cf=false;\n    cfg.channels.forEach(function(o,i){\n        if(o.nro==v.canal)\n            cf=o;\n    });\n    if(cf && !cf.enabled)\n        return false;\n    if(cf) {\n        var distancia=v.distancia>=cf.distDesde && v.distancia<=cf.distHasta;\n        if(!cf.inside)\n            distancia=v.distancia<cf.distDesde || v.distancia>cf.distHasta;\n        var amplitud=v.amplitud>=cf.amplDesde && v.amplitud<=cf.amplHasta;\n        if( distancia && amplitud) {\n                return v;\n        }\n    }\n    return false;\n}\nvar checkModel=function(v) {\n    var r=true;\n    cfg.channels.forEach(function(o,i){\n        if(o.enabled) { //Solo los habilitados\n            var encontrado=false;\n            v.forEach(function(oo,ii){ //Debo encontrar cada habilitado\n                if(o.nro==oo.canal) {\n                    encontrado=true;\n                }\n            });\n            if(!encontrado) {\n             r=false;   \n            }\n        }\n    });\n    return r;\n};\nvar r=[];\nmsg.payload.forEach(function(o,i){\n    var valor=valid(o);\n    if(valor)\n        r.push(valor);\n});\nmsg.modeloValido=checkModel(r);\n\nvar ultimaValidez=flow.get(\"ultimaValidez\");\nif(!ultimaValidez) {\n    if(msg.modeloValido) {\n        flow.set(\"ultimaValidez\",new Date().getTime());\n    }\n} else {\n    if(!msg.modeloValido) {\n        flow.set(\"ultimaValidez\",false);\n    }\n}\n\n\nmsg.payload=r;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":340,"wires":[["b206f20e.2ee06"]]},{"id":"e291dce6.62ebd","type":"ui_template","z":"ec146ae3.249748","group":"f0e58428.884ae8","name":"","order":0,"width":"6","height":"11","format":"\n<table>\n    <tr>\n        <td>Canal</td>\n        <td>Distancia</td>\n        <td>Amplitud</td>\n    </tr>\n    <tr ng-repeat=\"d in msg.payload\">\n        <td>{{d.canal}}</td>\n        <td>{{d.distancia}}</td>\n        <td>{{d.amplitud}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1120,"y":180,"wires":[[]]},{"id":"d2397ef.069db8","type":"ui_template","z":"ec146ae3.249748","group":"5a22fbaf.a7dcf4","name":"","order":0,"width":"18","height":"14","format":"<table style=\"width:600px\">\n    <tr>\n        <td>Canal Enabled</td>\n        <td>Distancia Desde</td>\n        <td>Distancia Hasta</td>\n        <td>Dentro</td>\n        <td>Ampl Se침al Desde</td>\n        <td>Ampl Se침al Hasta</td>\n    </tr>\n    <tr ng-repeat=\"c in msg.payload.channels\">\n        <td>{{c.nro}} <input type=\"checkbox\" ng-model=\"c.enabled\"></td>\n        <td><input type=\"number\" ng-model=\"c.distDesde\"></td>\n        <td><input type=\"number\" ng-model=\"c.distHasta\"></td>\n        <td><input type=\"checkbox\" ng-model=\"c.inside\"></td>\n        <td><input type=\"number\" ng-model=\"c.amplDesde\"></td>\n        <td><input type=\"number\" ng-model=\"c.amplHasta\"></td>\n    </tr>\n</table>\n\n<md-button ng-click=\"send({payload:msg.payload})\">\nSET\n</md-button>\n\n<script>\n(function(scope) {\n    scope.aplicarTodos = function() {  \n        scope.msg.payload.channels.forEach(function(o,i){\n            o.distDesde=scope.distDesde;\n            o.distHasta=scope.distHasta;\n        });\n    }\n})(scope);\n</script>\n<br/>\n<div style=\"width:200px\">\nDistancia Desde: <input type=\"number\" ng-model=\"distDesde\"><br/>\nDistancia Hasta: <input type=\"number\" ng-model=\"distHasta\"><br/>\n<button ng-click=\"aplicarTodos()\">Aplicar a Todos</button>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":520,"wires":[["30a0a571.2e68fa","4372d3ad.7b871c"]]},{"id":"5ecccf5f.d913b","type":"change","z":"ec146ae3.249748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"config","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":600,"wires":[["d2397ef.069db8"]]},{"id":"30a0a571.2e68fa","type":"debug","z":"ec146ae3.249748","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":560,"wires":[]},{"id":"fd873493.9e7ec8","type":"switch","z":"ec146ae3.249748","name":"","property":"config","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":60,"wires":[["2639e4d7.9a3dfc"],["3b499756.ce4da8"]]},{"id":"4372d3ad.7b871c","type":"change","z":"ec146ae3.249748","name":"","rules":[{"t":"set","p":"config","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":660,"wires":[[]]},{"id":"b206f20e.2ee06","type":"change","z":"ec146ae3.249748","name":"","rules":[{"t":"set","p":"ultimaValidez","pt":"msg","to":"ultimaValidez","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":340,"wires":[["d4d1540e.aeede8"]]},{"id":"d4d1540e.aeede8","type":"function","z":"ec146ae3.249748","name":"","func":"if (msg.ultimaValidez!=-1)\n    msg.ultimaValidez=(new Date().getTime()-ultimaValidez)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":360,"wires":[["1c7f4eed.d0a6e1"]]}]